services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    environment:
      - OOPSY_JWT_SECRET=F_837nh+@8798H  
    container_name: oopsy_app
    ports:
      - "5000:5000"
    volumes:
      - ./app/uploads:/app/uploads
      - ./db:/app/db
