<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Confirm OTP - OopsyHealth</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/reset_otp.css">
</head>
<body>
  <section class="otp-box">
    <h1>Confirm OTP</h1>
    <p class="info-text">For the lab, the OTP was "sent" and is shown here:</p>
    <pre class="otp-code">{{ otp }}</pre>
    
    <form action="/reset/confirm" method="post">
      <input type="hidden" name="token" value="{{ token }}">
      <input type="hidden" name="email" value="{{ email }}">
      
      <label>OTP<br><input name="otp" type="text" required></label><br>
      <label>New password<br><input name="new_password" type="password" required></label><br>
      <button type="submit">Set new password</button>
    </form>
  </section>
</body>
</html>
